
# pyspread

*.sig

#-----------------

*.pyc
dist
build
MANIFEST

*.psproj
.cache
pyspread.egg-info

# editors
.idea/
.spyderproject
.spyderworkspace


public/
.sass-cache/

# coverage
*.coverage
htmlcov


# Fichier ajouter par PyCharm dont on a pas forcément besoin
.idea

# Fichier ajouter par Mac dont on a pas forcément besoin
.DS_Store

