# Mandatory
PyQt6 (>=6.4)
numpy (>=1.1)
setuptools (>=40.0)
markdown2 (>= 2.3)

# Optional
matplotlib (>=1.1.1)
pyenchant (>=1.1)
pip (>=18)
python-dateutil (>=2.7.0)
py-moneyed (>=2.0)
rpy2 (>=3.4)
plotnine (>=0.8)
dash
PyQt6-WebEngine
