[Desktop Entry]
Categories=Office;Spreadsheet;
Comment[en_US]=pyspread is a non-traditional spreadsheet application that is based on and written in the programming language Python
Comment=pyspread is a non-traditional spreadsheet application that is based on and written in the programming language Python
Exec=pyspread %U
GenericName[en_US]=Python based Spreadsheet
GenericName=Python based Spreadsheet
Keywords=python;spreadsheet;matplotlib;math;
Icon=pyspread.svg
MimeType=application/x-pyspread-spreadsheet;application/x-pyspread-bz-spreadsheet
Name[en_US]=pyspread
Name=pyspread
StartupNotify=false
StartupWMClass=io.gitlab.pyspread.pyspread
Terminal=false
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
